<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-green">
    <!-- bg-green donne la couleur de la nav bar-->
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/images/RandM-logo.png" width="45" alt="" class="d-inline-block align-middle mr-2">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> <!-- ce button sert à mettre le menu burger et au click ça affiche le menuburger-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto"> <!-- en mettant ml-auto le menu devient à droite et m-auto pour la centrer par exemple-->
          <li class="nav-item" routerLinkActive="active"> <!-- permet l'ajout de la classe "active" dès qu'on clique sur le routerLink-->
            <a class="nav-link" [routerLink]="['/home']">Accueil</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/episodes'] ">Épisodes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/characters']">Characters</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/locations']">Locations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
<!-- FOOTER -->
  <!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="#" (click)="toBack($event)">Back to top</a></p>
  <p>&copy; 2020–2021 R & M, Simplon.co &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
