<div class="container">
    <div class="character-details" *ngIf="(character$ | async) as character">
        <h1>{{character.name}}</h1>
        <img [src]="character.image" alt="" class="img-thumbnail">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Specie</th>
                    <th scope="col">Status</th>
                    <th scope="col">Origin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{character.id}}</th>
                    <td>{{character.gender}}</td>
                    <td>{{character.species}}</td>
                    <td>{{character.status}}</td>
                    <td>{{character.origin.name}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="episodes" *ngIf="(character.episode | async) as episodes">
            <h3>Épisodes ({{character.episodesCount}})</h3>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Saison</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let episode of episodes">
                        <th scope="row">{{episode.id}}</th>
                        <td>
                            <a [routerLink]="['/episodes', episode.id]">{{episode.name}}</a>
                        </td>
                        <td>{{episode.air_date}}</td>
                        <td>{{episode.episode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
